<div class="row" id="userInfo">
    <div class="col-sm-12">
        <div class="row">
            <span class="col-sm-3  text-muted text-right">用户名：</span>
            <p class="col-sm-9 text-info" id="usernameLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3  text-muted text-right">绑定邮箱：</span>
            <p class="col-sm-9 text-info" id="emailLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3 text-muted text-right">绑定手机：</span>
            <p class="col-sm-9 text-info" id="mobileLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3  text-muted text-right">用户角色：</span>
            <p class="col-sm-9  text-info" id="roleLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3  text-muted text-right">真实姓名：</span>
            <p class="col-sm-9  text-info" id="realnameLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3  text-muted text-right">所在部门：</span>
            <p class="col-sm-9  text-info" id="departmentLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3  text-muted text-right">职位：</span>
            <p class="col-sm-9  text-info" id="postLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3  text-muted text-right">注册时间：</span>
            <p class="col-sm-9 text-info" id="registerTimeLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3 text-muted text-right">上次登录时间：</span>
            <p class="col-sm-9 text-info" id="lastLoginTimeLabel"></p>
        </div>
        <div class="row">
            <span class="col-sm-3 text-muted text-right">上次登录IP：</span>
            <p class="col-sm-9 text-info" id="lastLoginIpLabel"></p>
        </div>
        <!--
<div class="row">
	<span class="col-sm-3  text-muted text-right">用户描述：</span>
	<p class="col-sm-9 text-info" id="remarkLabel"></p>
</div>
-->
        <div class="row">
            <span class="col-sm-3  text-muted text-right">状态：</span>
            <p class="col-sm-9  text-info" id="statusLabel"></p>
        </div>
    </div>
</div>
