<!--邀请攻略-->
<div class="invite-box-1" id="div-1">
	<h3 class="invite-title">邀请统计</h3>	
	<div class="invite-amount">
		<ul class="tj_list clearfix">
            <li class="invite_peoples">
                <img src="__PUBLIC__/images/invite_lc1.png" width="80">
                <p>推荐总人数</p>
                <p class="tj_num">0人</p>
            </li>
            <li class="invite_moneys">
                <img src="__PUBLIC__/images/invite_lc2.png" width="80">
                <p>到账奖励金额</p>
                <p class="tj_num">0元</p>
            </li>
        </ul>
		<ul class="tj_list2 clearfix">
            <li>
                <h3>一级</h3>
                <p class="invite_people" style="color: rgb(153, 153, 153); font-size: 12px;">推荐人数：0人</p>
                <p class="invite_money" style="color: rgb(153, 153, 153); font-size: 12px;">奖励金额：0元</p>
            </li>
            <li>
                <h3>二级</h3>
                <p class="invite_people" style="color: rgb(153, 153, 153); font-size: 12px;">推荐人数：0人</p>
                <p class="invite_money" style="color: rgb(153, 153, 153); font-size: 12px;">奖励金额：0元</p>
            </li>
            <li>
                <h3>三级</h3>
                <p class="invite_people" style="color: rgb(153, 153, 153); font-size: 12px;">推荐人数：0人</p>
                <p class="invite_money" style="color: rgb(153, 153, 153); font-size: 12px;">奖励金额：0元</p>
            </li>
        </ul>
	</div>
	<h3 class="invite-title">邀请流程</h3>
		<ul class="lc_list">
                <li>
                    <img src="__PUBLIC__/images/invite_lc1.png">
                    <p>任选以下方式<br>邀请好友</p>
                </li>
                <img src="__PUBLIC__/images/invite_next.png" class="invite_next">
                <li>
                    <img src="__PUBLIC__/images/invite_lc3.png">
                    <p class="lineh_68">好友注册并理财</p>
                </li>
                <img src="__PUBLIC__/images/invite_next.png" class="invite_next">
                <li>
                    <img src="__PUBLIC__/images/invite_lc4.png">
                    <p class="lineh_68">即可建立邀请关系</p>
                </li>
        </ul>
            <div class="invite_way invite_way1">
                <p class="invite_way_num">01</p>
                <h3>邀请方式一：分享链接</h3>
                <p>点击下方任意按钮，分享即可~</p>
                <ul>
                    <li class="copy_li">
                        <input class="input-large span8 hide" type="text" value="" readonly id="invite-link">
                        <a class="share1 btn btn-small btn-primary" id="btn-invite-copy" target="_blank" href="javascript:void(0)"  data-clipboard-target="invite-link">复制链接</a>
                    </li>
<li><a class="share2" target="_blank" href="http://www.jiathis.com/send/?webid=tsina&url=http://www.urlurl.com&title=安心理财就在汇通资产，我们是只提供安全、收益稳定出借项目的P2P平台。资金托管，保证出借人资金安全，我们是不能跑路的平台">新浪微博</a></li>
<li><a class="share3" target="_blank" href="http://www.jiathis.com/send/?webid=weixin&url=http://www.urlurl.com&title=安心理财就在汇通资产，我们是只提供安全、收益稳定出借项目的P2P平台。资金托管，保证出借人资金安全，我们是不能跑路的平台">微信好友</a></li>
<li><a class="share4" target="_blank" href="http://www.jiathis.com/send/?webid=cqq&url=http://www.urlurl.com&title=安心理财就在汇通资产，我们是只提供安全、收益稳定出借项目的P2P平台。资金托管，保证出借人资金安全，我们是不能跑路的平台">QQ好友</a></li>
<li><a class="share5" target="_blank" href="http://www.jiathis.com/send/?webid=qzone&url=http://www.urlurl.com&title=安心理财就在汇通资产，我们是只提供安全、收益稳定出借项目的P2P平台。资金托管，保证出借人资金安全，我们是不能跑路的平台">QQ空间</a></li>
<li><a class="share6" target="_blank" href="http://www.jiathis.com/send/?webid=tqq&url=http://www.urlurl.com&title=安心理财就在汇通资产，我们是只提供安全、收益稳定出借项目的P2P平台。资金托管，保证出借人资金安全，我们是不能跑路的平台">腾讯微博</a></li>
                    <li><a class="share7" target="_blank" href="http://www.jiathis.com/send/?webid=douban&url=http://www.urlurl.com&title=安心理财就在汇通资产，我们是只提供安全、收益稳定出借项目的P2P平台。资金托管，保证出借人资金安全，我们是不能跑路的平台">豆瓣网</a></li>
                </ul>
                <div class="telephone explained hide" id="copylink">
                    <div class="warming">链接已成功复制到粘贴板</div>
                </div>
            </div>
            <div class="invite_way invite_way2">
                <p class="invite_way_num">02</p>
                <h3>邀请方式二：邀请注册时填写推荐人手机号</h3>
                <p>好友使用以下任一方式注册账户时，在【推荐人手机号】一栏输入您的手机号，并注册成功，您即成为此好友的推荐人。</p>
            </div>
            <div class="invite_way invite_way3">
                <p class="invite_way_num">03</p>
                <h3>邀请方式三：任性扫码</h3>
                <ul>
                    <li class="invite_scewm">
                        <img src="__PUBLIC__/images/generate.png">
                        <p>扫码邀请</p>
                    </li>
                </ul>
            </div>
</div>