.amount-time{
	background-color: #f1f1f1;
	padding: 15px;
}
.amount-time h5{
	display: block;
	width: 100%;
}
.amount-time p{
	width: 100%;
	padding-top: 45px;
	font-size: 15px;
	margin-bottom: 0;
}
.amount-time span{
	display: inline-block;
	margin-right: 3px;
}
.project-title{
	line-height: 250%;
	font-weight: 600;
	font-size: 20px;
}
.project-num span{
	display: block;
	font-weight: 600;
	padding-bottom: 10px;
}
.project-num p{
	font-weight: 700;
	font-size: 36px;
}
.person-count{
	padding-top: 10px;
}
.my-amount{
	margin-top: 25px;
	margin-bottom: 10px;
}
.income{
	text-align: right;
	margin-top: 10px;
}
.income span{
	color: red;
}
h2.m-top{
	margin-top: 15px;
}
.time span{
	display: inline-block;
	padding: 0 3px;
	text-align: center;
	font-family: Arial;
	font-weight: 700;
	color: red;
}