<!--修改密码-->
<div class="" id="passwordHtml">
	<form method="post" action="#" class="password-wraper">
		<div class="form-group">
			<label class="label-control">原密码：</label>
			<input type="password" name="opassword" id="opassword" class="form-control"/>
		</div>
		<div class="form-group">
			<label class="label-control">新密码：</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="至少6位,由字母、数字、特殊字符组成"/>
		</div>
		<div class="form-group">
			<label class="label-control">确认密码：</label>
			<input type="password" name="repassword" id="repassword" class="form-control"/>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" id="btnSavePassword">提交</button>
			<span class="" id="msgPwd"></span>
		</div>
	</form>
</div>
<script type="text/javascript">
$(function() {
		$(".password-wraper").validate({
		rules:{
			opassword:{required:true,minlength:6,checkPassword:true},
			password:{required:true,minlength:6},
			repassword:{equalTo:'#password'}
		},
		messages:{
			opassword:{
				required:"原密码不能为空",
				minlength:"密码至少6位",
				checkPassword:"原密码不正确",
			},
			password:{
				required:"新密码不能为空",
				minlength:"新密码至少6位",
			},
			repassword:{
				equalTo:"两次密码不一致",
			}
		},
		submitHandler:function(form){
			$.ajax({
				type:"post",
				data:{opassword:$("#opassword").val().trim(),password:$("#password").val().trim(),flag:'save'},
				url:"__URL__/cpassword",
				success:function(ret){
					if(ret.status==1){
						$("#msgPwd").text(ret.data).addClass('text-success');
						setTimeout(function(){
							$("#msgPwd").text('');
							closeDialog();
						},1000);
					}
					else
					{
						$("#msgPwd").text(ret.error).addClass('text-warning');
						setTimeout(function(){
							$("#msgPwd").text('');
						},1000);
					}
				}
			});
		}
	});
	$.validator.addMethod('checkPassword',function(value,element,params){
		var v = $.ajax({
			url:"__URL__/cpassword",
			type:"post",
			async:false,
			data:{flag:'check',password:value}
		}).responseText;
		if(v=='1')
			return true;
		else
			return false;
	})
})
</script>