<form action="" method="post" id="form" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label">账号余额：</label>
		<div class="col-sm-9">
			<p class="help-block text-red"><strong>￥{$t}</strong></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">应缴金额：</label>
		<div class="col-sm-9">
			<p class="help-block text-red"><strong>￥{$total}</strong></p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<span class="text-danger"></span>
			<button type="submit" class="btn btn-success" id="btnPay">确定垫付</button>
			<span class="text-info success"></span>
		</div>
	</div>
</form>
<script type="text/javascript">
	var t = '{$t}';
	var total = '{$total}';
	$("#btnPay").click(function(){
		if(parseFloat(t)<parseFloat(total)){
			$(".text-danger").text('账户余额不足');
			setTimeout(function(){
				$("span.text-red").text('');
			},1000)
			return false;
		}
		$.post("__URL__/advance",{id:'{$id}'},function(ret){
			if(ret.status==1){
				$("span.success").text(ret.data);
				setTimeout(function(){
					window.location.href=document.URL;
				},1000);
			}
			else{
				alt(ret.error);
			}
		});
		return false;
	});
</script>