<form action="javascript:;" method="post" id="form" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">借款唯一号：</label>
        <div class="col-sm-9">
            {$data.bno}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">借款标题：</label>
        <div class="col-sm-9">
            {$data.title}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">募集开始时间：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="start" id="start" value=""  readonly>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">募集期限(天)：</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" name="day" id="day" value="30"  placeholder="单位：天" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="btn btn-primary" id="saveBtn">保存</button>
        </div>
    </div>
</form>
<script type="text/javascript">
$("#start").datetimepicker({
    format: 'yyyy-mm-dd hh:ii',
    language: 'zh-CN',
});
$(function(){
    $("#saveBtn").click(function(){
        var start = $("#start").val();
        var day = $.trim($("#day").val());
        var ct = moment().format('X');
        var st = moment(start).format('X');
        if(start==''){
            toastr.error('募集开始时间必须大于当前时间');
            //$("#start").focus();
            return false;
        }
        if(ct>st){
            toastr.error('募集开始时间必须大于当前时间');
            return false;
        }
        if(day==''){
            toastr.error('募集期限不能为空');
            return false;        
        }
        $.post("__URL__/setloan",{start:st,day:day,lid:'{$data.id}'},function(ret){
            if(ret.status==0){
                toastr.error(ret.error);
                return false;
            }
            else if(ret.status==1){
                toastr.success(ret.data);
                $("#table").bootstrapTable('refresh');
                closeDialog();
            }
        })
    })
})
</script>