<extend name="Public:base" />
<block name="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">贷款申请</div>
                <div class="ibox-content">
                    <form action="" method="post" id="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">借款唯一号：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="bno" id="bno" value="{$data.bno}">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">借款标题：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="title" id="title" value="{$data.title}">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">借款副标题：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="sub_title" id="sub_title" value="{$data.sub_title}">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务来源：</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="buss_from" name="buss_from">
                                    <volist name="bussFromList" id="v">
                                        <option value="{$key}" <eq name="key" value="$data[buss_from]">selected</eq>>{$v}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">资金类型：</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="fund_type" id="fund_type">
                                    <volist name="fundTypeList" id="v">
                                        <option value="{$key}" <eq name="key" value="$data[fund_type]">selected</eq>>{$v}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">借款金额：</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="number" class="form-control" placeholder="1~100,000,000,000" name="amount" id="amount" value="{$data.amount}">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <p class="help-block show-amount"></p>
                            </div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">最小投资额：</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="number" value="{$data.min_amount|default=1}" min="0" class="form-control" name="min_amount" id="min_amount">
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">最大投资额：</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="number" value="{$data.max_amount|default=100000000}" min="0" class="form-control" name="max_amount" id="max_amount">
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">投资增量：</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="number" value="{$data.step_amount|default=1}" min="0" class="form-control" name="step_amount" id="step_amount">
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">借款期限：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">年</span>
                                    <input type="number" class="form-control" min="0" placeholder="数字" name="year" id="year" value="<eq name='data.duration_type' value='1'>{$data.duration}<else />0</eq>">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">月</span>
                                    <input type="number" class="form-control" min="0" placeholder="数字" name="month" id="month" value="<eq name='data.duration_type' value='2'>{$data.duration}<else />0</eq>">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">日</span>
                                    <input type="number" class="form-control" min="0" placeholder="数字" name="day" id="day" value="<eq name='data.duration_type' value='3'>{$data.duration}<else />0</eq>">
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">年化利率：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="1~100" name="year_rate" id="year_rate" value="{$data.year_rate}">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">奖励利率：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="number" value="{$data.award_rate}" class="form-control" name="award_rate" id="award_rate">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">抵押品：</label>
                            <div class="col-sm-4">
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" id="is_pledge_1" value="0" name="is_pledge" <eq name="data.is_pledge" value="0">checked</eq>>
                                    <label for="is_pledge_1">无抵押(信用贷款)</label>
                                </div>
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" id="is_pledge_2" value="1" name="is_pledge" <eq name="data.is_pledge" value="1">checked</eq>>
                                    <label for="is_pledge_2">有抵押</label>
                                </div>
                                <div class="row product-type <eq name="data.is_pledge" value="0">hide</eq>">
                                    <div class="col-lg-12">
                                        <select class="form-control" id="pledage_type" name="pledage_type">
                                            <option value="0">选择抵押品类型</option>
                                            <volist name="pledageTypeList" id="v">
                                                <option value="{$key}" <eq name="key" value="$data['pledage_type']">selected</eq>>{$v}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">还款方式：</label>
                            <div class="col-sm-4">
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" id="pay_type_1" value="1" name="pay_type" <eq name="data.pay_type" value="1">checked</eq>>
                                    <label for="pay_type_1">按月付息到期还本</label>
                                </div>
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" id="pay_type_2" value="2" name="pay_type" <eq name="data.pay_type" value="2">checked</eq>>
                                    <label for="pay_type_2">一次性还本付息</label>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品大纲：</label>
                            <div class="col-sm-4">
                                <select name="product_type" id="product_type" class="form-control">
                                    <volist name="productTypeList" id="v">
                                        <option value="{$key}" <eq name="key" value="$data[product_type]">selected</eq>>{$v}</option>
                                    </volist>
                                </select>
                                <div class="row fee-info clearfix" id="fee-info">
                                    <div class="col-lg-8 fee-item">
                                        <div class="fee-item-border">
                                            <h5 class="text-center">前期费用</h5>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="in-border">
                                                        <h5 class="bg-info">借款服务费</h5>
                                                        <span id="pt01">0</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="in-border">
                                                        <h5 class="bg-success">风险保障金</h5>
                                                        <span id="pt02">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 fee-item">
                                        <div class="fee-item-border">
                                            <h5 class="text-center">按期收取</h5>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="in-border">
                                                        <h5 class="bg-primary">借款管理费</h5>
                                                        <span id="pt03">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6"><a href="#">预览还款计划</a></div> -->
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">促销标：</label>
                            <div class="col-sm-2">
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" id="is_promotion" name="is_promotion" value="1" <eq name="data.is_promotion" value="1">checked</eq>>
                                    <label for="is_promotion">是</label>
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">后台标：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="checkbox checkbox-success">
                                        <input type="checkbox" id="is_background" name="is_background" value="1" <eq name="data.is_background" value="1">checked</eq>>
                                        <label for="is_background">是</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">理财金项目：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="checkbox checkbox-success">
                                        <input type="checkbox" id="is_manage" name="is_manage" value="1" <eq name="data.is_manage" value="1">checked</eq>>
                                        <label for="is_manage">是</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">APP专享特惠：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="checkbox checkbox-success">
                                        <input type="checkbox" id="is_app" name="is_app" <eq name="data.is_app" value="1">checked</eq> value="1">
                                        <label for="is_app">是</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                        <!---/form-group-->
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-sm-2">
                                <input type="hidden" value="{$data.hid}" name="hid">
                                <input type="hidden" value="{$data.id}" name="id">
                                <input type="hidden" value="{$Think.get.type}" name="loan_type">
                                <input type="hidden" value="{$Think.get.project_uid}" name="project_uid">
                                <input type="hidden" value="{$Think.get.relation_uid}" name="relation_uid">
                                <button class="btn btn-primary" type="submit" id="btn">下一步</button>
                                <empty name="Think.get.hid">
                                    <button class="btn btn-default" type="button" onclick="window.history.back()" id="btn1">返回</button>
                                </empty>
                            </div>
                        </div>
                        <!---/form-group-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="css">
    <style type="text/css">
    .product-type {
        margin-top: 10px;
    }
    
    .fee-info {
        margin-top: 15px;
    }
    
    .fee-info .fee-item-border {
        border: 1px solid #ddd;
        padding: 10px 15px 15px 15px;
    }
    
    .fee-item .in-border {
        border: 1px solid #ddd;
    }
    
    .fee-item .in-border h5 {
        padding: 0;
        line-height: 220%;
        text-align: center;
        font-weight: normal;
        margin: 0;
    }
    
    .fee-item .in-border span {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        padding: 10px 0;
    }
    </style>
</block>
<block name="js">
    <include file="Public:date2" />
    <script type="text/javascript">
    $('.date').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        format: "yyyy/mm/dd",
        language: 'zh-CN',
        pickerPosition: "bottom-left",
    });
    $("input[name=is_pledge]").click(function() {
        var v = $(this).val();
        if (v == 0)
            $(".product-type").addClass('hide');
        else
            $(".product-type").removeClass('hide');
    });
    $(function() {
        var ptList = null;
        $.extend({
            pt: function(v) {
                if (ptList == null || v == false) {
                    $.getJSON('/Rate/get', function(json, textStatus) {
                        ptList = json
                    });
                } else {
                    var amount = $('#amount').val();
                    if (amount <= 0) {
                        return false
                    };
                    var project = $('#product_type').val();
                    if (project < 1 || project > 4) {
                        return false
                    };
                    var month = 1;
                    var year_rate = $('#year_rate').val(0.00);
                    var pt01 = $('#pt01').text('0.00');
                    var pt02 = $('#pt02').text('0.00');
                    var pt03 = $('#pt03').text('0.00');
                    var y = $('#year').val();
                    var m = $('#month').val();
                    var d = $('#day').val();
                    if (y > 0) {
                        month = 6
                    } else if (m > 0) {
                        month = m > 6 ? 6 : m;
                    } else if (d > 0) {
                        month = Math.ceil(d / 30)
                    } else {
                        return false
                    };
                    if (project == 4) {
                        month = 0
                    };
                    var service = (ptList[project][month].service_rate * amount / 100).toFixed(2);
                    var risk = (ptList[project][month].risk_rate * amount / 100).toFixed(2);
                    var manage = (ptList[project][month].manage_rate * amount / 100).toFixed(2);
                    pt01.text(service);
                    pt02.text(risk);
                    pt03.text(manage);
                    year_rate.val(ptList[project][month].year_rate);
                }
            }
        });
        $("#year,#month,#day").change(function() {
            var attrName = $(this).attr('name');
            switch (attrName) {
                case 'year':
                    $("#pay_type_1").prop('disabled', false).prop('checked', true);
                    $("#pay_type_2").prop('disabled', true).prop('checked', false);
                    $("#month,#day").val('0');
                    break;
                case 'month':
                    $("#pay_type_1").prop('disabled', false).prop('checked', true);
                    $("#pay_type_2").prop('disabled', true).prop('checked', false);
                    $("#year,#day").val('0');
                    break;
                case 'day':
                    $("#pay_type_2").prop('disabled', false).prop('checked', true);
                    $("#pay_type_1").prop('disabled', true).prop('checked', false);
                    $("#year,#month").val('0');
                    break;
            }
            $.pt(true);
        });
        $.pt(false);
        $("#product_type").change(function() {
            $.pt(true)
        });
        $("#amount").change(function() {
            $.pt(true)
        });

        $("#form").validate({
            rules: {
                bno: {
                    required: true,
                    bno: true,
                },
                title: {
                    required: true,
                },
                amount: {
                    required: true,
                },
                step_amount: {
                    required: true,
                },
                year_rate: {
                    required: true,
                },
                year: {
                    duration: true,
                },
                month: {
                    duration: true,
                },
                day: {
                    duration: true,
                },
                is_pledge: {
                    required: true,
                    validateType: true,
                },
                pay_type: {
                    required: true,
                }


            },
            messages: {
                bno: {
                    required: '借款唯一号不能为空',
                    bno: '借款唯一号已存在',
                },
                title: {
                    required: '借款标题不能为空',
                },
                amount: {
                    required: '借款金额不能为空',
                },
                step_amount: {
                    required: '请填写投资增量',
                },
                year_rate: {
                    required: '请填写年化利率',
                },
                year: {
                    duration: '请选择借款期限',
                },
                month: {
                    duration: '请选择借款期限',
                },
                day: {
                    duration: '请选择借款期限',
                },
                is_pledge: {
                    required: '选择是否有押品',
                    validateType: '请选择抵押品类型',
                },
                pay_type: {
                    required: '请选择还款方式',
                }
            },
            errorPlacement: function(error, element) {
                var name = $(element).attr('name');
                if (name == 'amount' || name == 'step_amount' || name == 'is_pledge' || name == 'pay_type') {
                    error.appendTo(element.parent('div').parent('div').next('div'));
                } else if (name == 'year' || name == 'month' || name == 'day') {
                    error.appendTo(element.parent('div').parent('div').nextAll('div').last('div').empty());
                } else {
                    error.appendTo(element.parent('div').next('div'));
                }

            },
            submitHandler: function(form) {
                form.submit();
            }

        });
        //格式化借款数字
        $("#amount").on('keyup', function() {
            var v = $(this).val();
            if (v > 0) {
                var n = new Number(v);
                $(".show-amount").text(n.toLocaleString());
            }
        });
    });
    $.validator.addMethod('validateType', function(value, element, params) {
        var va = $("input[name=is_pledge]:checked").val();
        if (va == '1') {
            var v = $("#pledage_type").val();
            if (v == '0') {
                return false;
            } else {
                return true;
            }
        } else {
            return true;
        }
    });
    $.validator.addMethod('duration', function(value, element, params) {
        var yearVal = parseInt($('#year').val());
        var monthVal = parseInt($('#month').val());
        var dayVal = parseInt($('#day').val());
        if (yearVal <= 0 && monthVal <= 0 && dayVal <= 0) {
            return false;
        }
        return true;
    });
    $.validator.addMethod('bno', function(value, element, params) {
        var ret = $.ajax({url:'__URL__/checkUnquestBno',data:{bno:value},async:false,type:'post'}).responseText;
        ret = eval('('+ret+')')
        if(ret.data=='0')
            return true;
        else
            return false;
    });
    </script>
</block>
